/*
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
*/
/*
kleine wijziging in de assets... moet lukken
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/* Clear Floated Elements */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}


/**** HTML ****/
body {
	background: #EEE;
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
}
p {
	margin-bottom: 1em;
}
a {
	color: #39F;
	-moz-text-decoration-color: -moz-use-text-color;
	-moz-text-decoration-line: none;
	-moz-text-decoration-style: solid;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: 0;
}
a:hover {
	text-decoration: none;
}
/* this avoids having image replacement sections display a dotted outline */ 
a:focus { 
	outline-style: none; 
}
a img {
	border: 0;
}
h1 {
	font-size: 32px;
	margin-bottom: 3px;
}
h2 {
	font-size: 24px;
	margin-bottom: 24px;
	padding-bottom: 6px;
	border-bottom: #ddd solid 1px;
}
h3 {
	font-size: 18px;
	padding-bottom: 12px;
}
hr { 
	border: 0;
	border-top: 1px solid #222;
	height: 1px;
}
ul {
	list-style-position: outside;
	margin-left: 15px;
	margin-bottom: 1em;
}
table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}
input, select {
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
}
input.text {
}

/**** GUI ****/

body {
    padding-top: 50px;
}

/**** NAVBAR ****/

.navbar {
    background-color: #428bca;
    border: 0 none;
    color: #fff;
    padding-left: 10px;
    padding-right: 25px;
}
.navbar-header {
		width: 200px;
}
.navbar-brand {
    background: url("../images/logo.png") no-repeat scroll 0 0;
    width: 137px;
    height: 23px;
		display: block;
		margin: 12px 6px;
		padding: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #609dd2;
    color: #fff;
}


/**** SIDEBAR ****/

.sidebar {
    background-color: #222;
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    display: block;
    padding: 20px;
    z-index: 1000;
		width: 210px;
}

.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
}
.nav-sidebar > li > a {
    color: #fff;
    display: block;
    padding: 14px 15px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    white-space: nowrap;
}
.nav-sidebar > li > a:hover, .nav-sidebar > li > a:focus,
.nav-sidebar .open > a, .nav-sidebar .open > a:hover, .nav-sidebar .open > a:focus {
		background-color: #000;
}
.nav-sidebar .dropdown-menu {
    position: static;
    float: none;
    background-color: #000;
    background-clip: border-box;		
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
		min-width: 155px;
		padding-bottom: 10px;
    font-size: inherit;
    box-shadow: none;
}
.nav-sidebar .dropdown-menu > li > a {
    color: #ddd;
    padding: 3px 15px 3px 20px;
}
.nav-sidebar .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		background-color: #222;
		color: #ddd;
}
.nav-sidebar > li > a > i {
    margin-right: 6px;
    text-align: center;
    width: 20px;
}
.nav-sidebar > li > a > .arrow {
    display: block;
    font-size: 18px;
    height: 14px;
    line-height: 14px;
    padding: 0;
    position: absolute;
    right: 15px;
    text-align: center;
    text-shadow: none;
    top: 12px;
    width: 14px !important;
}
.sidebar .collapse-button {
    bottom: 0;
    position: fixed;
    width: 170px;
    margin-bottom: 20px;
}
.sidebar .collapse-button button, .sidebar .collapse-button button:focus {
    background: none repeat scroll 0 0 transparent;
    border: #333 solid 1px;
    border-radius: 0;
    margin: 0 !important;
		padding: 2px 0;
		text-align: center;
		font-size: 18px;
		width: 33px;
		color: #fff;
		outline: none;
}

.sidebar-collapsed .sidebar {
    width: 55px;
}
.sidebar-collapsed .nav-sidebar > li > a {
    text-align: center;
}
.sidebar-collapsed .nav-sidebar > li > a > i {
    margin-right: 0;
    text-align: center;
		font-size: 18px;
    width: 20px;
}
.sidebar-collapsed .nav-sidebar > li > a > span, .sidebar-collapsed .nav-sidebar > li > a > .arrow {
    display: none;
}
.sidebar-collapsed .nav-sidebar .dropdown-menu {
    position: absolute;
    float: none;
    background-color: #000;
    background-clip: border-box;		
    border: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
		padding-top: 10px;
		padding-bottom: 10px;
    font-size: inherit;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    left: 100%;
    top: 0;
}
.sidebar-collapsed .collapse-button {
    width: 35px;
		margin-left: -10px;
}

.back-to-top {
    background-color: #222;
		display: none;
		padding: 7px 0;
		text-align: center;
		font-size: 18px;
		width: 35px;
		color: #fff;
    position: fixed;
    right: 0;
    bottom: 0;
		text-decoration: none;
}
.back-to-top:hover, .back-to-top:focus {
		color: #fff;
		text-decoration: none;
}


/**** MAIN ****/

.main {
    padding: 0;
		margin-left: 210px;
}
.sidebar-collapsed .main {
		margin-left: 55px;
}
.main-header {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
    padding: 20px 25px;
    position: relative;
}
.main-content {
    color: inherit;
    margin-top: 0;
    padding: 15px 30px 30px;
}
.main-content-block {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e6e6e6;
    border-radius: 3px;
    border-right: 1px solid #e6e6e6;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 40px;
    padding: 20px;
}
.main-content-tab {
}

/**** TABS ****/

.nav-tabs {
    margin-left: 0;
}
.nav-tabs > li > a  {
		color: #222;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:active {
		color: #2a6496;
		background: transparent;
		border-color: transparent;
}
.tab-content {
    padding: 15px 0 0 0;
}

.main-content-tab > .tab-content {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e6e6e6;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-right: 1px solid #e6e6e6;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin-bottom: 40px;
}

.main-content-tab > .nav-tabs {
    border-bottom: 1px solid transparent;
}
.main-content-tab > .nav-tabs > li.active {
    position: relative;
}
.main-content-tab > .nav-tabs > li {
    margin-right: 2px;
}
.main-content-tab > .nav-tabs > li > a {
    color: #39f;
    margin-right: 0;
    min-width: 80px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    text-align: center;
}
.main-content-tab > .nav-tabs > li > a:hover,
.main-content-tab > .nav-tabs > li > a:active {
    color: #2a6496;
		border-bottom-color: transparent;
}
.main-content-tab > .nav-tabs > li.active > a, 
.main-content-tab > .nav-tabs > li.active > a:hover, 
.main-content-tab > .nav-tabs > li.active > a:focus {
    color: #222;
    border-bottom: none;
    border-left: #e6e6e6 solid 1px;
    border-right: #e6e6e6 solid 1px;
    border-top: none;
    box-shadow: 1px -3px 4px -3px rgba(0, 0, 0, 0.08);
    padding-bottom: 10px;
    padding-top: 10px;
    position: static;
}


/**** BREADCRUMB ****/

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    list-style: none outside none;
    margin-bottom: 0;
    padding: 6px 0;
}

/**** BUTTONS ****/

.btnbar {
}
.btnbar-right {
	text-align: right;
}

/**** OVERVIEW ****/

/**** DATATABLES ****/

table.dataTable {
    border-collapse: collapse !important;
		width: 100% !important;
}
table.dataTable > tbody > tr:nth-child(2n+1) > td, table.dataTable > tbody > tr:nth-child(2n+1) > th {
    background-color: #f9f9f9;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: #ccc solid 1px !important;
    padding-bottom: 10px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding-bottom: 6px !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px !important;
}
table.dataTable tbody form {
    white-space: nowrap;
}
table.dataTable thead th:last-child, table.dataTable thead td:last-child {
    width: 120px !important;
}
.dataTables_filter, .dataTables_filter label {
	width: 100% !important;
	text-align: right;
}
.dataTables_filter input {
	width: 75% !important;
}


/**** PAGING ****/

/**** FORM ****/

label {
    font-size: 13px;
		font-weight: bold;
		margin-bottom: 7px;
}
.form-control {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    font-size: 12px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
}
.form-control:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.input-group .btn {
    box-shadow: none;
    line-height: 20px;
    margin-bottom: 0 !important;
    margin-left: -1px !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 6px;
    padding-top: 6px;
		border-radius: 0;
}

/**** FOOTER ****/


